extends layout

block content
	.section.maintron
		.filter
		video#bgvid(loop autoplay playsinline muted poster='/images/poster.png')
			source(src='/images/video.mp4', type='video/mp4')
			source(src='/images/video.webm', type='video/webm')
			source(src='/images/video.ogv', type='video/ogv')
		.container.text-center
			h1 Alexander Afzelius Puccini
			div.text-container
				h2.text-center Frontend
					span#flipper.flip
						span.step.step0.set utvecklare
						span.step.step1 nybörjare
	//- .section
	//- 	.menu
	//- 		ul
	//- 			li
	//- 				a#section-education Om mig
	//- 			li
	//- 				a#section-cv CV
	//- 			li
	//- 				a#section-projects Projekt
	//- 			li
	//- 				a#section-contact Kontakt
	.section.section-header
		.container
			.row
				.col-xs-12
					h1.fill-text.text-center
						|Jag vill göra internet snyggare, smidigare, och snabbare.
					p.ingress.text-center
						|Min ambition är att ligga i webbutvecklingens framkant. Med funktionell
						| design, användarvänlighet och responsivitet vill jag förmedla bästa möjliga upplvelse.
			.row.icons
				.col-xs-2
				.col-sm-3.text-center
					p.size-icons
						i.fa.fa-paint-brush.fa-2x.fill-text2
					h5
						|Design
				.col-sm-2.text-center
					p.size-icons
						i.fa.fa-laptop.fa-2x.fill-text2
						i.fa.fa-tablet.fa-2x.fill-text2(style="margin: 5px")
						i.fa.fa-mobile.fa-2x.fill-text2
					h5 Responsiv
				.col-sm-3.text-center
					p.size-icons
						i.fa.fa-users.fa-2x.fill-text2
					h5 Användarvänlighet
				.col-sm-2
	.section.section-education
		.container
			h1.fill-text.text-center
				|Min story
			p.story.text-center
				|Bakom mig har jag flera år som croupier på Casino Cosmopol och 
				|framför mig vilar en terräng av hemsidor och programmering. Jag har  
				|tidigare studerat både applikationsutveckling.NET och skrivandets  
				|konst men har nu valt att inrikta mig på front-end. Till våren 2019 
				|söker jag praktik och om du är nyfiken på mig så vilar mitt cv här 
				|under. Annars nås jag på alla plattformar, överallt, hela tiden. 
			.row.cards
				.col-md-4
					.card-container
						img#thImg.img-responsive.center-block(src="/images/teknik5.png" alt="Teknikhögskolan")
						p Jag studerade Systemutveckling:NET på yrkeshögskolan Teknikhögskolan i Stockholm. 
							|Under utbildningen tog vi del av allt i från databaser till att arbeta i agilt.
				.col-md-4
					.card-container
						img#nackaImg.img-responsive.center-block(src="/images/nackademin6.png" alt="Nackademin")
						p Jag studerar just nu front-end på Nackademin. Utbildningen sträcker sig till år 2019 och jag söker
							|just nu praktik till våren.
				.col-md-4
					.card-container
						img#jfImg.img-responsive.center-block(src="/images/JJJJ.png" alt="Jakobsbergs Folkhögskola")
						p Jag tog del av skrivarutbildning på Jakobsbergs folkhögskola som gav en bred översikt 
							|i litterär gestaltning och där jag fördjupade min förmåga till ett eget uttryck.
				#thModal.modal
					img#img01.modal-content
				#nackaModal.modal
					img#img02.modal-content
				#jfModal.modal
					img#img03.modal-content
			.row
				.col-md-4
				.col-md-4.text-center
					a.button.button-primary(href="/images/AlexCv.pdf", target="_blank") Fullständigt CV
						i.fa.fa-angle-right
				.col-md-4
	.section.section-project
		.container
			h1.text-center
				|Projekt
			.col-md-7
				img.img-responsive(src="/images/macWepage_examen.png" alt="Project examen")
			.col-md-5.responsive-padding
				h3 Gemenskaper
				p
					|Just nu har jag påbörjat mitt examensarbete. Projektet är precis påbörjat och ska i förlängningen bli en mobilanpassad webapplikation som listar,
					|visar och filtrerar möten som finns bland olika gemenskaper i Sverige.
				a.button.button-primary(href="http://188.226.192.78:3030/", target="_blank") Besök sidan 
					i.fa.fa-angle-right
		.container.container-gullmars
			.col-md-7.col-md-push-5
				img.img-responsive(src="/images/macWepage_gullmars02.png" alt="Project Gullmarsplan")
			.col-md-5.col-md-pull-7
				h3 Gullmarsfrisörerna
				p
					|Uppdraget bestod i att
					|skapa en hemsida till frisörsalongen Gullmarsfrisörerna. Jag ansvarade över alla delar - allt ifrån kundkontakt till databas - och gjordes i samband med min praktik 2014. Jag byggde även ett cms-system där ägaren själv enkelt kunde uppdatera både produkter och priser. 
				a.button.button-primary(href="http://188.226.192.78:3015/", target="_blank") Besök sidan 
					i.fa.fa-angle-right
	.section.section-contact.text-center
		.container
			.row
				.col-xs-2
				.col-xs-8
					h1.fill-text.text-center
						|Var inte blyg
					p.ingress.text-center
						|Du är välkommen att maila mig på
						br
						a#email.fill-text2 alex.afzelius@gmail.com
						br
						|eller
						|fånga mig i följande sociala medier.
					a(href="https://www.facebook.com/alex.puccini.98", target="_blank")
						i.fa.fa-facebook.fa-3x.fill-text2
					a(href="http://se.linkedin.com/in/afzeliuspuccini", target="_blank")
						i.fa.fa-linkedin.fa-3x.fill-text2
					a(href="https://github.com/fladderapa", target="_blank")
						i.fa.fa-github.fa-3x.fill-text2
				.col-xs-2
	//- script.
	//- 	window.sr = new scrollReveal();
	//- 	$("#section-education").click(function() {$('html, body').animate({scrollTop: $(".section-education").offset().top}, 500);});
	//- 	$("#section-cv").click(function() {$('html, body').animate({scrollTop: $(".section-education").offset().top}, 500);});
	//- 	$("#section-projects").click(function() {$('html, body').animate({scrollTop: $(".section-project").offset().top}, 500);});
	//- 	$("#section-contact").click(function() {$('html, body').animate({scrollTop: $(".section-contact").offset().top}, 500);});
	script.

		var thModal = document.getElementById('thModal');
		var thImg = document.getElementById('thImg');
		var thModalImg = document.getElementById("img01");

		thImg.onclick = function(){
			thModal.style.display = "block";
			thModalImg.src = '/images/teknikhogskolan.jpg';
		}
		thModal.onclick = function() {
		thModal.style.display = "none";
		}

		var nackaModal = document.getElementById('nackaModal');
		var nackaImg = document.getElementById('nackaImg');
		var nackaModalImg = document.getElementById("img02");

		nackaImg.onclick = function(){
			nackaModal.style.display = "block";
			nackaModalImg.src = '/images/nackademin.png';
		}
		nackaModal.onclick = function() {
		nackaModal.style.display = "none";
		}

		var jfModal = document.getElementById('jfModal');
		var jfImg = document.getElementById('jfImg');
		var jfModalImg = document.getElementById("img03");

		jfImg.onclick = function(){
			jfModal.style.display = "block";
			jfModalImg.src = '/images/jakobsbergsFolkhogskola.png';
		}
		jfModal.onclick = function() {
		jfModal.style.display = "none";
		}













